<form action = "<%=cats_url%>" method = "post">

  <label for="name"> Enter cat's name </label>
  <input id="name" type="text" name="cat[name]">
  <br>

  <label for="color"> Cat's color </label>
  <select name="cat[color]">
    <option value="brown">Brown</option>
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="orange">Orange</option>
  </select>
  <br>

  <label for="description"> Enter your cat's description </label>
  <textarea id="description" name="cat[description]"></textarea>
  <br>

  <label>Sex</label>
  <div>
    <input id="sex_m" type="radio" value='M' name="cat[sex]">
    <label for="sex_m">Male</label>
    <input id="sex_f" type="radio" value='F' name="cat[sex]">
    <label for="sex_f">Female</label>
  </div>>
  <br>
  <label for="birth_date"> Enter cat's birth date </label>
  <input id="birth_date" type="date" name="cat[birth_date]">
  <br>

  <input type="submit" value="Create my cat">

</form>